<p>user-inventory-editor works!</p>
<form [formGroup]="userEquipment">
    <mat-form-field appearance="fill">
        <mat-label>Equipment</mat-label>
        <mat-select [formControl]="availableItems" multiple>
            @for(item of availableEquipment; track item) {
                <mat-option [value]="item">{{item}}</mat-option>
            }
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Provisioning</mat-label>
        <mat-select formControlName="selectedEquipment" multiple>
            @for(item of selectedEquipment; track item) {
                <mat-option [value]="item">{{item}}</mat-option>
            }
        </mat-select>
    </mat-form-field>
</form>
<br>
<button (click)="addItem()">Add Item</button>